
<h2>Result</h2>
<div ng-if="list.items.length == 0">Nothing found!</div>
  <table style="width:100%" ng-if="list.items.length != 0">
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="item in list.items">
      <th>{{item.name}}</th>
      <th>{{item.short_name}}</th>
      <th>{{ item.description }}</th>
      <th><button ng-click="list.onRemove({index: $index});">Don't want this one!</button></th>
    </tr>
  </table>
