<div class="container" >
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="item in list.items">
      <th>{{item.name}}</th>
      <th>{{item.short_name}}</th>
      <th>{{ item.description }}</th>
      <th><button ng-click="list.onRemove({index: $index});">Don't want this one!</button></th>
    </tr>
  </table>
  <!-- <ol>
    <li ng-repeat="item in list.items">
      {{item.name}} {{item.short_name}} {{ item.description }}
      <button ng-click="list.onRemove({index: $index});">Don't want this one!</button>
    </li>
  </ol> -->
</div>
